# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
calculator/frontend/node_modules
calculator/frontend/.pnp
calculator/frontend/.pnp.js

# virtual environment
.venv

# testing
calculator/frontend/coverage

# production
calculator/frontend/build

# misc
calculator/frontend/.DS_Store
calculator/frontend/.env.local
calculator/frontend/.env.development.local
calculator/frontend/.env.test.local
calculator/frontend/.env.production.local

calculator/frontend/npm-debug.log*
calculator/frontend/yarn-debug.log*
calculator/frontend/yarn-error.log*